# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
venv/
env/
.env/
.venv/
ENV/
env.bak/
venv.bak/

# Project Specific Data & Large Files
data/raw/
data/derived/
models/*.pkl
images/*.png
images/*.html
*.csv
*.tif
*.tiff
*.zip

# Streamlit
.streamlit/
